<h2><%= t '.title' %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="col-md-6">
        <%= f.label :email, class: 'form-label' %>
        <div class="input-group mb-3">
            <span class="input-group-text">
              <svg id="i-mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M2 26 L30 26 30 6 2 6 Z M2 6 L16 16 30 6" />
              </svg>
            </span>
        <%= f.text_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>
        <% resource.errors[:email].each do |error| %>
            <div class="alert alert-danger"><%= error %></div>
        <% end %>
    </div>
    <div class="col-6">
        <%= f.label :name, class: 'form-label' %>
        <div class="input-group mb-3">
            <span class="input-group-text">
              <svg id="i-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
              </svg>
            </span>
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
        </div>         
        <% resource.errors[:name].each do |error| %>
            <div class="alert alert-danger"><%= error %></div>
        <% end %>
    </div>
    <div class="col-md-6">
        <%= f.label :password, class: 'form-label' %>
        <div class="input-group mb-3">
            <span class="input-group-text">
              <svg id="i-lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M5 15 L5 30 27 30 27 15 Z M9 15 C9 9 9 5 16 5 23 5 23 9 23 15 M16 20 L16 23" />
                  <circle cx="16" cy="24" r="1" />
              </svg>
            </span>
            <%= f.password_field :password, class: 'form-control', autofocus: true%>
        </div>         
        <% resource.errors[:password].each do |error| %>
            <div class="alert alert-danger"><%= error %></div>
        <% end %>
    </div>
    <div class="col-md-6">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <div class="input-group mb-3">
            <span class="input-group-text">
              <svg id="i-lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M5 15 L5 30 27 30 27 15 Z M9 15 C9 9 9 5 16 5 23 5 23 9 23 15 M16 20 L16 23" />
                  <circle cx="16" cy="24" r="1" />
              </svg>
            </span>
            <%= f.password_field :password_confirmation, class: 'form-control', autofocus: true %>
        </div>         
        <% resource.errors[:password_confirmation].each do |error| %>
            <div class="alert alert-danger"><%= error %></div>
        <% end %>
    </div>
    <div class="actions">
      <%= f.submit t('.submit'), class: 'btn btn-dark my-3' %>
    </div>
<% end %>

<%= render "devise/shared/links" %>