<%= link_to t('.back'), @company, class: 'btn btn-dark my-3' %>
<h1><%= t '.title' %></h1>
<% if @clients.empty? %>
    <div class="alert alert-dark" role="alert">
        <%= t '.empty' %>
    </div>
<% end %>
<ul class="list-group">
    <% @clients.each do |client| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="row row-cols-lg-3 gx-3 container justify-content-center">
                    <div class="col-3 text-center align-self-center">
                        <div class="fw-bold"><%= t '.name' %></div>
                        <div class="card-text"><%= client.name %></div>
                    </div>
                    <div class="col-3 text-center align-self-center">
                        <div class="fw-bold"><%= t '.cpf' %></div>
                        <div class="card-text"><%= client.cpf %></div>
                    </div>
                    <div class="col-3 text-center align-self-center">
                        <div class="fw-bold"><%= t '.token' %></div>
                        <div class="card-text"><%= client.token %></div>
                    </div>
                </div>
        </li>
    <% end %>
</ul>
