<%= link_to t('.back'), companies_path, class: 'btn btn-dark my-3' %>
<h1><%= @company.name %></h1>
<span class="badge <%= @company.active? ? 'bg-success' : 'bg-dark' %> rounded-pill"><%= t @company.state %></span>
<ul class="list-group my-3">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">CNPJ</div>
                <div><%= @company.cnpj %></div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Email</div>
                <div><%= @company.email %></div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Endereço</div>
                <div><%= @company.address %></div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Token</div>
                <div><%= @company.token %></div>
                <%= link_to t('.new_token'), '#', class: 'btn btn-warning' %>
            </div>
        </li>
</ul>
