<!DOCTYPE html>
<html>
  <head>
    <title>Paynow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'Paynow', root_path ,class: 'navbar-brand'%>
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if current_user && current_user.role == 'admin' %>
            <li class="nav-item">
              <%= link_to 'Empresas', companies_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Modelos de Pagamento', payments_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Pagamentos Pendentes', payment_orders_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Usuários', users_path, class: 'nav-link' %>
            </li>
            <% elsif current_user && current_user.role == 'owner'%>
            <li class="nav-item">
              <%= link_to 'Minha Empresa', company_path(current_user.company), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Usuários', users_path, class: 'nav-link' %>
            </li>
            <% elsif current_user && current_user.role == 'employeer' %>
            <li class="nav-item">
              <%= link_to 'Minha Empresa', company_path(current_user.company), class: 'nav-link' %>
            </li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <div class="d-flex">
              <%= current_user.email %>
            </div>
            <div class="d-flex">
              <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-dark mx-3' do %> 
                Sair
                <svg id="i-signout" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
                </svg>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex">
              <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-dark mx-2 my-sm-0' %>
            </div>
            <div class="d-flex">
              <%= link_to 'Registrar', new_user_registration_path, class: 'btn btn-outline-dark my-sm-0' %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <div class= "container">
      <% if notice %>
        <div class="alert alert-success">
          <div class="row justify-content-between">
            <div class="col"><%= notice %></div>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger">
          <div class="row justify-content-between">
            <div class="col-4"><%= alert %></div>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <br><br><br><br><br>
    <footer class="row py-3 justify-content-center">
        <div class="text-center col">© 2021 Copyright:
        <a class="col" href="https://rog404.github.io" target="_blank" aria-label="GitHub"><svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 499.36" focusable="false"><title>GitHub</title><path d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z" fill="#000000" fill-rule="evenodd"></path></svg>
        </a>
        </div>
    </footer>
  </body>
</html>
